body {
  background: rgba(35,35,35,1);
  margin:0px;
  padding:0px;
  display: flex;
  flex-direction: column;

}
.nav {
  width: 100%;
  height: 95px;
  background: rgba(58,58,58,1);
  opacity: 1;
  position: relative;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.flexrow-container {
  float: right;
  align-items: right;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  margin-right: 3%;
  margin-top: 30px;
}

.flexrow-container_left{
  float: left;
  align-items: left;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 3%;

}

.flexrow-container_center{
  float: center;
  align-items: center;
  align-self: flex-start;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

}

.theme-selector {
  border: 1px solid #d1dae3;
  border-radius: 100%;
  height: 35px;
  margin: 0 8px;
  transition: tranform 150ms ease-in-out, box-shadow 200ms ease-in-out;
  width: 35px;
}

.theme-selector:hover { 
  box-shadow: rgb(230, 230, 230) 0 0 8px;
  cursor: pointer;
  
}

.theme-selector:active {
  transform: scale(0.95);
}

.light {
  background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
  color: #1a150e;
  transition: 0.3s linear;
}

.darker {
  background-image: linear-gradient(100deg, #001214, #001f29);
  color: white;
  transition: 0.3s linear;
}

.light-theme {
  background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
}

.darker-theme {
  background-image: linear-gradient(100deg, #001214, #001f29);
}

.home{
   margin-left: 15px;
   height: 47px;
   width: 50px;
}

.user{
  height: 50px;
  width: 50px;

}

.description {
  width: 70%;
  height: 400px;
  background: rgba(58,58,58,1);
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
}

.description h1 {
  text-align: center;
}

.kepzes {
  width: 70%;
  height: 400px;
  background: rgba(58,58,58,1);
  margin: auto;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
}

.kepzes h1 {
  text-align: center;
}

.footer{
  width: 100%;
  height: 400px;
  background: rgba(58,58,58,1);
  position: relative;
  overflow: hidden;
  margin-top: 400px;
}


/* Body light or darker themes */
.standard {
  background-image: linear-gradient(100deg, #575656, #062e3f);
  color: #ffdfdb;
  transition: 0.3s linear;
  overflow: hidden;
}

.light {
  background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
  color: #1a150e;
  transition: 0.3s linear;
}

.darker {
  background-image: linear-gradient(100deg, #001214, #001f29);
  color: white;
  transition: 0.3s linear;
}

#header, #form, #datetime {
  margin: 0 1rem;
  min-height: 10vh;
  width: 100%;
}

#header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 3rem;
  min-height: 25vh;
  width: 100%;
}

#time {
  color: white;
  font-size: 40px;
}
